.relatorios-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: #f3f4f6;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  width: 180px;
  opacity: 0.9;
}

.btn-gerar {
  padding: 0.6rem 1.2rem;
  background-color: #00796b;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}


.btn-export {
  padding: 0.6rem 1.2rem;
  background-color: #00796b;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-export:hover {
  background-color: #00796b;
}


/* Cards */
.card {
  flex: 1 1 250px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.card.destaque {
  border-left: 6px solid #10b981;
}

.sub-info {
  margin-top: .5rem;
  font-size: .85rem;
  color: #00796b;
}
.card-value {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: .3rem;
}